.detailContainer {
  height: auto;
  width: auto;
  border: 1.3px solid rgb(171, 171, 171);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 400px;
  border: 1.3px solid rgb(151, 204, 248);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding-left: 20px;
}
.color__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn1 {
  margin-left: 5px;
  border: 1px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  background-color: black;
}
.btn2 {
  border: 1px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  background-color: rgb(226, 226, 226);
}
.btn4 {
  border: 1px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  background-color: rgb(17, 17, 48);
}
.btn3 {
  border: 1px solid rgb(255, 255, 255);
  height: 20px;
  width: 20px;
  background-color: dimgrey;
}
.N__p {
  font-size: 18px;
  color: rgb(183, 183, 183);
  margin-bottom: -5px;
}
.N__Tc {
  display: flex;
  align-items: flex-start;
}
.N__t {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(23, 23, 23);
  margin-bottom: -2px;
  margin-right: 16px;
  text-align: left;
}
.N__Pr {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #1b1b1b;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: -14px;
}
.N__St {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -5px;
}
.N__C {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.nc {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(27, 27, 27);
  margin-bottom: -5px;
}
