.navContainer {
  position: fixed;
  /* Agregamos position: fixed para que ocupe todo el ancho */
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background-color: rgb(0, 0, 0);
  display: flex;
  z-index: 999;
}

/* #08ef56 */
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #08ef56;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hovertext {
  position: absolute;
  box-sizing: border-box;

  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/*! hover */
.button:hover .hovertext {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* .buttonHome {
  position: relative;
  top: 10px;
  left: 0px;
} */

/* .img__logo {
  margin-top: -8px;
  height: 55px;
  margin-left: 10px;
}

.ordenador {
  display: flex;
} */

.SearchBarPosition {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Cambiado a 'center' */
  text-align: center;
  margin-top: 10px;
  width: 100%;
  /* Asegura que ocupe todo el ancho disponible */
}

/* .carrito {
  background-color: black;
  border: 1px solid black;
  color: #08ef56;
  font-size: small;
  cursor: pointer;
} */

.container {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  justify-content: flex-end;
  /* Ancla los elementos al lado derecho */
  margin-left: auto;
  padding-right: 10px;
  /* Empuja los elementos hacia la derecha */
  z-index: 213123;
}

.NuevosProd {
  background-color: black;
  border: 1px solid black;
  color: #08ef56;
  margin-bottom: 0px;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.NuevosProd:active {
  background-color: black;
  border: 1px solid black;
  color: #01832c;
  margin-bottom: 5px;
  font-size: small;
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: row;
  height: 45px;
  margin-top: 5px;
  justify-content: flex-end;
  /* Ancla los elementos al lado derecho */
  margin-left: auto;
  padding-right: 10px;
  /* Empuja los elementos hacia la derecha */
  z-index: 213123;
}

/* Note that you only needs to edit the config to customize the button! */

.plusButton {
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #08ef56;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent #08ef56 transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: #08ef56;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.newProduct {
  background-color: black;
  border: 1px solid black;
}

.cartpos {
  margin-top: 6px;
  margin-right: 5px;
}

.navTS {
  margin-top: 5px;
  margin-left: 8px;
}

.btnNP {
  position: relative;
  margin-top: 7px;
  margin-right: 8px;
  padding: 3px 5px;
  border-radius: 7px;
  border: 1.5px solid #08ef56;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #08ef56;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btnNP:hover {
  color: black;
  background: #32f874;
  box-shadow: 0 0 30px 5px #01c58a;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btnNP:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btnNP::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btnNP:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.btnFav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-right: 8px;
  height: 43px;
  padding-bottom: 2px;
  background-color: black;
  border: 1px solid #08ef56;
  color: #08ef56;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 7px;
}

.btnFav:hover {
  background-color: #08ef56;
  color: black;
}

.darkMode {
  margin-top: 2px;
  margin-right: 5px;
  height: 43px;
  padding-bottom: 2px;
  background-color: black;
  border: 1px solid #08ef56;
  color: #08ef56;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 7px;
}

.darkMode:hover {
  background-color: #08ef56;
  color: black;
}

.lightMode {
  margin-top: 2px;
  margin-right: 5px;
  height: 43px;
  padding-bottom: 2px;
  background-color: black;
  border: 1px solid #08ef56;
  color: #08ef56;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 7px;
}

.lightMode:hover {
  background-color: #08ef56;
  color: black;
}

.buttonSt {
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 36px;
  width: 45px;
  border: none;
  background: #08080800;
  border: 1.5px solid #08ef56;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

/* .lableSt {
  line-height: 20px;
  font-size: 17px;
  color: #08ef56;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
} */

.buttonSt:hover {
  background: #08ef5548;
}

.buttonSt:hover .svgicon {
  animation: spin 2s linear infinite;
  stroke: #08ef56
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}