.products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 5 columnas iguales */
    gap: 10px; /* Espacio entre las celdas */
    max-width: 900px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
  }
  
  .product {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 50px 500px 50px 100px 50px 100px;
  }
  
  /* Estilos específicos para cada p dentro de .product */
  .product p {
    box-shadow: 1px 1px 5px black;
    margin: 5px 0;
    background-color: rgb(243, 239, 239);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px; /* Tamaño de fuente ajustable */
    margin: 5px;
    border-radius: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
  }
  
  /* Estilo para las celdas en la última columna */
  .product p:last-child {
    font-weight: bold;
  }
  .modify {
    background-color: rgb(97, 248, 37);
    border: none;
    border-radius: 5px;
    color: white;
    height: 25px;
    margin-top: 5px;
  }