.form__C {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 600px;
    height: auto;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.img {
    /* padding: 3px; */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;

}

.fotoUpl {
    margin-top: 10px;
}

.noVerificado {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(230, 3, 3);
}

.label {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 500;
    margin-right: 6px;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.input {
    width: 300px;
    height: 27px;
    margin-top: 12px;
    padding-left: 10px;
    padding-bottom: 2px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    border-radius: 14px;
    border: 2px solid #333;
    color: black;
}

.error {
    color: rgb(230, 3, 3);
    font-size: 13px;
}

.btnForm {
    border: 0;
    background: #111;
    color: #fff;
    /* padding: 0.68em; */
    padding: 4px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
}

.btnForm:hover {
    opacity: 0.8;
}

.btnReturn {
    -webkit-text-stroke: 0.5px var(--text-stroke-color);
    --text-stroke-color: rgba(201, 196, 196, 0.733);
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 1000;
    border: solid rgba(7, 7, 0, 0.329) 1px;
    transition-duration: 1s;
    overflow: hidden;
    position: relative;
}

.btnReturn:hover {
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgb(172, 222, 168);
    align-items: center;
}

.formImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    
}

.imgModify{
    margin-left: 88px;
    margin-top: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    
}