.filtros {
    margin-top: 80px;
}

.btnNext {
    -webkit-text-stroke: 0.5px var(--text-stroke-color);
    --text-stroke-color: rgba(201, 196, 196, 0.733);
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #08ef56;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 1000;
    border: solid rgba(7, 7, 0, 0.329) 1px;

    transition-duration: 1s;
    overflow: hidden;
    position: relative;
}

.btnNext[disabled] {
    background-color: rgb(1, 43, 1);
    cursor: no-drop;
}

.btnNext:hover {
    border-radius: 8px;
    transition-duration: 1s;
    background-color: #86f8ac;
    align-items: center;
}

.btnPrevious {
    -webkit-text-stroke: 0.5px var(--text-stroke-color);
    --text-stroke-color: rgba(201, 196, 196, 0.733);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #08ef56;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 1000;
    border: solid rgba(7, 7, 0, 0.329) 1px;

    transition-duration: 1s;
    overflow: hidden;
    position: relative;
}

.btnPrevious[disabled] {
    background-color: rgb(1, 43, 1);
    cursor: no-drop;
}

.btnPrevious:hover {
    border-radius: 8px;
    transition-duration: 1s;
    background-color: #86f8ac;
    align-items: center;
}