/* .card {
  background-color: black;
  box-shadow: 0 0 10px 5px #8400ff, 0 0 10px 5px #8400ff, 0 0 10px 5px #370067,
    0 0 10px 5px #370067;
  width: 50 rem;
  height: 25rem;
  margin-block-end: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
} */

/* .card_image {
  cursor: auto;
  border-radius: 10px;
  border: #00fff6 3px solid;
  width: 15rem;
  height: 12rem;
  background-color: transparent;
  transition: transform 0.2s;
  margin-top: 1rem;
}

.card_image:hover {
  border: #1eff05 3px solid;
  transform: scale(1.1);
}

.card_product {
  text-align: center;
  list-style: none;
  font-family: monospace;
}

.card_name {
  text-align: center;
  margin-top: 1rem;
  color: #00fff6;
  font-size: 1.3rem;
}
.divBtn {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 10px;
}

.closeBtn {
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/*! estilo de carta de momento ML */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 2em;
  width: 250px;
  height: 350px;
  background: rgb(255, 255, 255);
  transition: 4s;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  overflow: hidden;
}
.card:hover {
  height: auto;
}
.img_container {
  height: 200px;
  width: 250px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.card__img {
  object-fit: cover;
  height: 100%;
  width: auto;
  position: relative;
}
.ht {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000;
}
.container_data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -15px;
}
.texts {
  font-family: Arial, Helvetica, sans-serif;
}
.container_name {
  margin-top: -4px;
  margin-bottom: 15px;
  height: 3em;
  padding: 1px;
}
.stock {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(172, 222, 168);
  color: rgb(15, 167, 15);
  border-radius: 2px;
  width: 150px;
  margin-left: 50px;
}
