footer {
  margin-top: 5px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: white;
}
.Footer {
  width: 100%;
}
.container_foot {
  display: flex;
  justify-content: space-around;
}

.colum1 {
  max-width: 400px;
}
.colum1_p {
  font-size: 22px;
}
.colum1_span {
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}

.gd {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.row {
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}
.row a {
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #c7c7c7;
}

.colum3 {
  max-width: 400px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 p {
  margin-left: 20px;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  background-color: rgb(12, 12, 12);
}
.copy a {
  text-decoration: none;
  color: white;
}
.info a {
  text-decoration: none;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}