.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.card {
    margin: 10px 20px 10px 20px;
    border: 1px solid #ccc;
    background-color: rgba(40, 40, 40, 0.829);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}

.imgCont {
    border-right: 1px solid #ccc;
    padding-right: 50px;
    height: 230px;
}

.itemImage {
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
    max-height: 225px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.purchasesDetails {
    text-align: center;
}

.purchasesName {
    font-weight: bold;
    margin-bottom: 15px;
}

.price {
    margin-bottom: 5px;
    color: #007bff;
}

.contBtnCal {
    align-items: flex-end;
    border-left: 1px solid #ccc;
    padding-left: 50px;
    height: 230px;
}

.btnCalif {
    border: 0;
    background: #111;
    color: #fff;
    /* padding: 0.68em; */
    padding: 4px;
    border-radius: 6px;
    font-weight: bold;
}

.btnCalif:hover {
    opacity: 0.8;
}

.btnReturn {
    -webkit-text-stroke: 0.5px var(--text-stroke-color);
    --text-stroke-color: rgba(201, 196, 196, 0.733);
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 35px;
    margin-bottom: 0px;
    background-color: #f0f0f0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 1000;
    border: solid rgba(7, 7, 0, 0.329) 1px;

    transition-duration: 1s;
    overflow: hidden;
    position: relative;
}

.btnReturn:hover {
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgb(172, 222, 168);
    align-items: center;
}

.rating {
    margin-top: 60px;
    margin-right: 10px;
}

.star {
    margin-top: -1.5em;
    margin-right: 10px;
}

.rating2 {
    margin-top: -1.5em;
    margin-right: 10px;
}

.vacio {
    margin-top: 50px;
}

.newC {
    margin-right: 10px;
}