.ordenador {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambiamos a 3 columnas */
  grid-gap: 60px;
  margin-left: 80px;
  padding-bottom: 80px;
  grid-auto-rows: minmax(200px, auto); /* Establecemos la altura de las filas */
}
