.LoginButton {
  margin-top: 2px;
  height: 43px;
  padding-bottom: 2px;
  background-color: black;
  border: 1px solid #08ef56;
  color: #08ef56;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 7px;
}

.LoginButton:hover {
  background-color: #08ef56;
  color: black;
}