.LoginButton {
    background-color: black;
    border: 1px solid #08ef56;
    color: #08ef56;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .LoginButton:hover {
    background-color: #f3f4f6;
    color: #4b5563;
  }
  