.div0 {
  margin-top: 55px;
  margin-bottom: -15px;
  padding-top: 1px;
  color: white;
  background-color: white; /* Nuevo color de fondo */
  padding: 20px; /* Agregado padding para separación */
}

.div1 {
  margin-top: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  
}

.item {
  border: 1px solid #ccc;
  background-color: black; /* Cambiado el color de fondo */
  border-radius: 5px;
  padding: 15px; /* Aumentado el padding para más espacio */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agregado sombra */
  transition: transform 0.3s ease; /* Agregada animación de transformación */
}

.item:hover {
  transform: translateY(-5px); /* Levantar la carta en el hover */
}

.itemImage {
  max-height: 200px; /* Ajustado el alto máximo de la imagen */
  width: auto; /* Ajustado el ancho automáticamente */
  object-fit: contain; /* Ajustar la imagen dentro del contenedor */
  margin-bottom: 10px;
}

.itemDetails {
  text-align: center;
}

.itemName {
  font-weight: bold;
  margin-bottom: 10px; /* Ajustado el margen inferior para acercar los datos */
}

.itemPrice {
  color: #007bff;
  font-weight: bold; /* Añadido peso a la fuente para resaltar el precio */
  margin-top: 5px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form {
  width: 400px;
  padding: 20px;
  background-color: #f0ffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.formdarkMode {
  width: 400px;
  padding: 20px;
  background-color: #2f362e;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

.titledarkMode {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.cardElementContainer {
  margin-bottom: 20px;
}

.cardElement {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.payButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  text-align: center;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.btnReturn {
  -webkit-text-stroke: 0.5px var(--text-stroke-color);
  --text-stroke-color: rgba(201, 196, 196, 0.733);
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 35px;
  margin-bottom: 0px;
  background-color: #f0f0f0;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 1000;
  border: solid rgba(7, 7, 0, 0.329) 1px;

  transition-duration: 1s;
  overflow: hidden;
  position: relative;
}

.btnReturn:hover {
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgb(172, 222, 168);
  align-items: center;
}

.cerrar {
  border: solid 1px black;
  background-color: rgb(202, 29, 29);
  cursor: pointer;
  border-radius: 3px;
  transition:0.8s;
}

.cerrar:hover {
  box-shadow: 2.5px 2.5px 2px 0px rgba(0,0,0,0.76);
}